*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
*.xml
app/src/main/res/drawable-ldpi/ic_done_all.png
app/src/main/res/drawable-hdpi/ic_done_all.png
app/src/main/res/drawable-mdpi/ic_done_all.png
app/src/main/res/drawable-xhdpi/ic_done_all.png
app/src/main/res/drawable-xhdpi/warehouse.png
app/src/main/res/drawable-xxhdpi/ic_done_all.png
app/src/main/res/drawable-xxxhdpi/ic_done_all.png
